<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth</title>
    <style>
        body {
            color: #1819ff;
            background-color: #3ffff0;
            font-family: arial;
            margin: 0;
        }
        
        nav {
            background: #28cefc;
            padding: 20px 10px;
        }
        
        nav ul {
            max-width: 960px;
            margin: 0 auto;
            padding: 0;
        }
        
        nav li {
            list-style-type: none;
            display: inline-block;
            margin: 0 10px 0 0;
        }
        
        nav a {
            color: #fff;
            font-size: 18px;
            background: #1819ff;
            text-decoration: none;
            padding: 10px;
            display: block;
        }
        
        main,
        header {
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #1819ff;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>
    <img src="background.jpg">
    <header>
        <h1>Car Rental</h1>
        <h2>Homepage</h2>
    </header>
    <main>
        <p>Welcome to the Awesome Car Rental API!!</p>
    </main>
</body>

</html>